/*
body {
    color: black;
    border: solid 3px black;
    padding: 100;
    margin: 100;
    background-color: silver
}
*/

h1 {
    text-align: center;
    border: 3px solid black;

}

p {
    text-align: center;
    border: 3px solid black;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

h3 li {
    text-align: right;
    border: 3px solid grey;
}

ul {
    text-align: center;
}

/*
li {
    text-align: right;
    border: 3px solid grey;

}
*/

nav {
    background-color: lightgreredy;
    border: 5px solid darkgrey;
    padding-top: 15px;
    margin-left: 40%;
    margin-right: 40%;
    padding-right: 35px;
    margin-bottom: 20px;
}

#carousel1 {
    height: 700px;
    width: 700px;
    height: inherit;
}
