body {
    color: black;
    border: solid 3px black;
    padding: 100;
    margin: 100;
    background-color: silver
}

h2 {
    color: black;
    font-family: sans-serif;
    font-size: 20;
    padding: 200;
    margin: 100;


}
